spring:
  profiles:
    active: local # 기본값을 local로 설정하여 로컬 개발 시 편리하게 한다.

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    neo4j:
      database: neo4j